---
import DefaultLayout from "../layouts/Default.astro";
import PostList from "../components/PostList.astro";

const pageTitle = `Weblog ${new Date().getFullYear()}`;
---

<DefaultLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>This is where I will post about my journey learning Astro.</p>

  <PostList />
</DefaultLayout>
