---
import DefaultLayout from "../layouts/Default.astro";

const pageTitle = "Home Page";
---

<DefaultLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>I build things with bytes.</p>
  <p>
    I'm a software engineer and leader with over 20 years of experience
    designing, architecting, and developing Internet solutions. For the last 10
    years or so, I've been building, growing, and leading remote teams of
    software engineers both nationally and internationally.
  </p>
  <p>
    In days of yore, I spent time as an architect, a carpenter, and a
    paratrooper, but never a butcher, baker, or candlestick maker.
  </p>
  <p>I am friend to all dogs and most bartenders.</p>
</DefaultLayout>
